.sidebot{
    float:right;
    margin-right: 20px;
    margin-left: 85%;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 142px;
    height: 38px;
    
}

.ry{
    margin-left: 10%;
}
.Sidebutton{
    
    margin-left: 79%;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 328px;
    height: 30px;
    Display: inline-block;

}
.div{
    width: 50%;
    height: 300px;
    Margin:20px;
}
.sidebot123{
    margin-left: 91%;
    margin-bottom: 10px;
    margin-top: -48px;
    width: 78px;
    height: 37px;
}
.file{
    width: 100px;
    margin-top: 10px;
    margin-left: 81%;
}

.text1 {
    width: 87%;
    padding: 6px;
    margin-left: 8%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    display: inline-block;
}


.text5 {
    
    padding: 10px;
    margin-left: 8%;
    color:black;
}
.text2 {
    
    padding: 10px;
    margin-left: 8%;
    color:black;
}

.modalcolor{
    background-color: rgb(255, 255, 255);
}
.modalpic{
    padding: 36px;
}
.content{
    padding: 10px;
    margin-left: 40px;
    color: black;
    float: left;
    width: 30%;
}

.text3 {
    width: 87%;
    padding: 10px;
    margin-left: 10%;
    margin-bottom: 10px;
   
    display: inline-block;
}
.steady{
    display: inline-block;
}
.yello{
    background-color: #055012;
}
img.naga{
    height: 4em;
    width: 4pc;
    margin-left: 6px;
}
img.log1{
    
    height: 18em;
    width: 25em;
    margin-top: 61px;
    margin-left: 55px;
    
    padding: 28px;

}
img.reg1{
    
    height: 18em;
    width: 25em;
    margin-top: 110px;
    margin-left: 55px;
    
    padding: 28px;

}
.logocol{
    letter-spacing: 1.05rem;
    font-family: Monospace;
    font-style: oblique;
    font-size: 28px;
    
}
.radius{
    border-radius: 1.35rem
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

.side{
    margin-left: 10%;
}

.search_select_box select{

    border: 1px solid #ccc;
    display: inline-block;
}

.search_select_box {
    width: 21%;
    margin-left: 1%;
   
}

.search_select_box1 {
    max-width: 421px;
        margin: 4px auto;
}
.search_select_box2 {

    width: 45%;
    display: inline-block;
    margin-left: 3%;
}

.dateD{
    width:33%;
    border-block-color: revert;
    font-style: revert;
    font-family: serif;
    color: darkgrey;
}
.margn{
    margin-left: 63%;
    margin-top: 2%;
}
.margnB{
    margin-left:3%;
}
.side{
    margin-left: 88%;
    margin-top: 2%;
}
.sideReport{
    margin-left: 95.5%;
    margin-top: 2%;
    position: absolute;
}
.sideReport1{
    margin-left: 92.5%;
    margin-top: 2%;
    position: absolute;
}
.pos{
    position: absolute;
    margin-left: 2%;
    margin-top: 2%;
    color:black;
}
.pos1{
  
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: -1%;
    color:black;
}
.pos2{
  
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: -3%;
    color:black;
}
.side123{

    position: absolute;
   
    margin-left: 65%;
    margin-top: -18%;
}

.side124{

    position: absolute;
   
    margin-left: 65%;
    margin-top: -17%;
}


.side103{

    position: absolute;
    margin-left: 78%;
    margin-top: -15%;
}

